*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
}

header, footer, main, section {
    display: block;
}

body {
    margin: 0;
    line-height: 1.5;
    text-align: left;
}

.content {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.row div {
    width: 50%;
}

.noMargin {
    margin: 0px;
}

.center {
    text-align: center;
}

table, th, td {
    border:1px solid black;    
}

.host001 {
    background-color: rgb(17, 94, 217);
}

.host002 {
    background-color: rgb(127, 17, 217);
}

.host003 {
    background-color: rgb(150, 217, 17);
}